

@media (min-width: 100px) { 
    .wrap-1{display: none;}
    .second-top{display: block;}
 
    
    
 }


@media (min-width: 576px) { 
    .wrap-1{display: none;}
    .second-top{display: block;}
  
    
   
 }


@media (min-width: 768px) { 
    .wrap-1{display: none;}
    .second-top{display: block;}
    
    
    
 }


@media (min-width: 992px) { 
    .wrap-1{display: block;}
    .second-top{display: none;}
   
    
    
 }


@media (min-width: 1200px) {
    .wrap-1{display: block;}
    .second-top{display: none;}
    
    
    
 }